{# lib/Resources/views/tool/menu.html.twig #}
<div id="mazariniDesignMenu">
    {{ form_start(form_design, {attr: {class: 'form-inline'} }) }}
    {{ form_widget(form_design.step, {attr: {class: 'mr-2'} }) }}
    {{ form_widget(form_design.page, {attr: {class: 'mr-2'} }) }}
    {{ form_widget(form_design.refresh) }}
    {{ form_end(form_design) }}
</div>
